//////////////////////////////////////////////////////////////
//  PRIMARY STRUCTURE

.container {
  max-width: @max-width;
  margin: 0 auto;
}

.multi-column,
.two-column {
  .display(flex);
  .flex-direction(column);
}

// Two column container with columns of different size
.two-column {
  .small-column {
    .flex(1);
    min-width: 250px;
  }
  .large-column {
    .flex(2);
  }
  :first-child {
    margin: 0 0 20px 0;
  }
}

.flex-item {
  margin: 0 0 36px 0;
  &:last-child {
    margin-right: 0;
  }
}


// TODO: Check if I still want this
.main-content {
  background: @white;
  padding: 30px 25px 50px 25px;
  .flex(1 0 auto);
}


//////////////////////////////////////////////////////
///    Tablet View
//////////////////////////////////////////////////////

@media @mq-tablet {


  // TODO: Check if I still want this
  .main-content {
    width: 80%;
    margin: auto;
    padding: 30px 25px 50px 25px;
    .box-shadow(0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2));

    //height: 1200px;
  }

}


//////////////////////////////////////////////////////
///    Desktop View
//////////////////////////////////////////////////////

@media @mq-desktop {
  .multi-column,
  .two-column {
    .flex-direction(row);
  }

  .two-column {
    :first-child {
      margin: 0 20px 0 0;
    }
  }

  .flex-item {
    margin: 0 0 0 36px;

    &:last-child {
      margin-right: 0;
    }
  }

}