/*-----------------------------------------------------------------------------
[client] Screen Stylesheet

version:   1.0
date:      01/03/07
author:    [your email]
email:     [you at domain dot com]
website:   [your domain]
version history: [location of file]
-----------------------------------------------------------------------------*/


//////////////////////////////////////////////////////
///     Imports
//////////////////////////////////////////////////////

/* Vendor Dependencies */
@import "vendors/normalize";
@import "vendors/html5-boilerplate-defaults";

/* Utils */
@import "utils/reset";
@import "utils/constants";
@import "../../../node_modules/lesshat/lesshat";
@import "utils/mixens";
// @import "utils/typography";

/* Base Styles */
@import "base/general";
@import "base/tables";
@import "base/forms";
@import "base/buttons";

/* Layout Styles */
@import "layout/header";
@import "layout/containers";
@import "layout/parallax";
@import "layout/footer";

/* Component Styles */

/* Pages Styles */
@import "pages/contact";
@import "pages/home";