//////////////////////////////////////////////////////
///     Icon Carousel Component Styles
//////////////////////////////////////////////////////

.carousel-wrapper {
  background: @light-grey-bg;
  margin-left: -25px;
  margin-right: -25px;

  .icon {
    height: 30%;
    width: 30%;
    margin-left: 34%;
  }

}



//////////////////////////////////////////////////////
///    Tablet View
//////////////////////////////////////////////////////

@media @mq-tablet {

  .carousel-wrapper {
    /* Arrows */

    .slick-arrow {

      svg {
        fill: @grey;
        height: 30px;
        width: 30px;
        .transition(0.5s ease-in-out);

        &:hover {
          fill: @highlight-color;
          .transition(0.5s ease-in-out);
        }
      }

    }

    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      .transform(translate(0, -50%));
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      z-index: 1000;
    }
    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
      color: transparent;
      outline: none;
      background: transparent;
    }
    .slick-prev:hover:before,
    .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1;
    }
    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before {
      opacity: .25;
    }

    .slick-prev:before,
    .slick-next:before {
      opacity: .75;
      color: @highlight-color;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .slick-prev {
      left: 50px;
      .transform(rotate(180deg));
    }
    [dir='rtl'] .slick-prev {
      right: -25px;
      left: auto;
    }
    .slick-prev:before {
      content: none;
    }
    [dir='rtl'] .slick-prev:before {
      content: '>';
    }
    .slick-next {
      right: 50px;
    }
    [dir='rtl'] .slick-next {
      right: auto;
      left: -25px;
    }
    .slick-next:before {
      content: none;
    }
    [dir='rtl'] .slick-next:before {
      content: '<';
    }
  }

}




//////////////////////////////////////////////////////
///    Desktop View
//////////////////////////////////////////////////////

@media @mq-desktop {

}